body {
  background-color: #C9D6DF;
  margin: 0px;
  font-family: Lucida sans;
}

hr {
  height: 3px;

}

h3 {
  color: #1E2022;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
}

h1 {
  font-family: 'Pacifico', cursive;

}

p {
  font-family: Lucida sans;
}

.emailbox {
  background-color: #C9D6D8;
  width: 260px;
  padding: 20px;
  border-style: inset;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
}

.card {
  background-color: #C9D6D8;
  width: 260px;
  padding: 20px;
  border-style: inset;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
}

#profiled {
  border-radius: 10px;
}

.navbar:hover {
  background-color: gray;
  border-radius: 5px;
  padding: 2px;
}

.container-top {
  position: relative;
  height: 600px;
}

.Welcome {
  position: absolute;
  top: 120px;
  left: 490px;
  font-size: 25px;
  padding-bottom: 80px;
  text-align:center;
}
.Welcome h1{
  color: #440A67;
}
.laptopSet {
  height: 250px;
  position: absolute;
  top: -40px;
}

.laptop {
  position: absolute;
  top: 60px;
  left: 900px;
  height: 350px;
  margin-top: 10px;
}

.cloud {
  position: absolute;
  top: 260px;
  left: 150px;
  height: 100px;
}

.cloud1 {
  position: absolute;
  top: 60px;
  left: 300px;
  height: 50px;
}

.cloud2 {
  position: absolute;
  top: 110px;
  left: 700px;
  height: 50px;
}

.cloud3 {
  position: absolute;
  top: 340px;
  left: 850px;
  height: 80px;
}

.cloud4 {
  position: absolute;
  top: 40px;
  left: 1200px;
  height: 120px;
}

.dotted {
  border-style: none;
  border-top-color: gray;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  position: absolute;
   top:440px;
   left:48%;
}

.container-2{
display: block;
position: relative;
}
.footerdiv{
}
