body {
  background-color: #C9D6DF;
  margin: 0px;
}

hr {
  height: 3px;
}

* {
  font-family: Lucida sans;
}

.Welcome{
display: inline-block;
position: relative;
left:200px;
font-size: 25px;
padding-bottom: 80px;
}
.dotted {
  border-style: none;
  border-top-color: gray;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

h3 {
  color: #1E2022;
  font-size: 25px;
  font-family: papyrus;
}

h1 {
  font-family: Lucida sans;
}

p {
  font-family: Lucida sans;
}

.emailbox {
  background-color: #C9D6D8;
  width: 260px;
  padding: 20px;
  border-style: inset;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
}

.card {
  background-color: #C9D6D8;
  width: 260px;
  padding: 20px;
  border-style: inset;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
}

#profiled {
  border-radius: 10px;
}

.navbar:hover {
  background-color: gray;
  border-radius: 5px;
  padding: 2px;
}

.laptopSet{
  height:250px;
  position: relative;
  top:-80px;
  display:inline-block;
}
.laptop{
  position: relative;
  top: 100px;
  left: 300px;
  height:350px;
  margin-top: 10px;
  display:inline-block;
}

.cloud{
  position: relative;
  top: 60px;
  left: 150px;
  height:100px;
  display:inline-block;
}
.cloud1{
  position: absolute;
  top: 200px;
  left: 900px;
  height:50px;
  display:inline-block;
}
.cloud2{
  position: absolute;
  top: 180px;
  left: 1320px;
  height:120px;
  display:inline-block;
}.cloud3{
  position: absolute;
  top: 480px;
  left: 1050px;
  height:80px;
  display:inline-block;
}
.cloud4{
  position: absolute;
  top: 340px;
  left: 410px;
  height:50px;
  display:inline-block;
}
